**/*~
auto-save-list
custom.el
elpa
GPATH
GRTAGS
GTAGS
recentf
anaconda-mode
/projectile-bookmarks.eld
/projectile.cache
/session.*
/bookmarks
/eshell
/network-security.data
/irony/bin/irony-server
/straight/
/transient/
/.lsp-session-v1
/tramp
